<h1>Détails de la Réservation</h1>
<ul>
    <li>
        <strong>Client :</strong> {{reservation.clientName}}, 
        <strong>Catway :</strong> {{reservation.catwayNumber}},
        <strong>Bateau :</strong> {{reservation.boatName}}, 
        <strong>Date début :</strong> {{reservation.checkIn}}, 
        <strong>Date fin :</strong> {{reservation.checkOut}}
    </li>
</ul>

